.section-gap {
	padding: 70px 0;
}

.section-heading {
	display: flex;
	align-items: center;
	gap: 30px;
	margin-bottom: 30px;
}

.section-heading.heading-line {
	padding-bottom: 20px;
	margin-bottom: 40px;
	border-bottom: 1px solid var(--bs-gray-400);
}

.section-heading .heading-information {
	width: 40%;
	line-height: 1.5;
}

.section-heading .heading-information .heading-sub {
	color: var(--primary-color);
	font-size: 1.15em;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 6px;
}

.section-heading .heading-information .heading-sub:before {
	content: "";
	width: 20px;
	height: 3px;
	border-radius: 6px;
	background-color: currentColor;
	display: inline-block;
}

.section-heading .heading-information .heading-title {
	font-size: 2.5em;
	color: var(--bs-gray-900);
	font-weight: 700;
}

.section-heading .heading-content {
	width: 60%;
	font-size: 1.075em;
	line-height: 1.7;
	color: #6c6c6c;
}

.section-heading .heading-content > p:last-child {
	margin-bottom: 0;
}

.section-why {
	padding: 70px 0 150px;
}

.why-heading {
	margin-bottom: 30px;
}

.why-heading .heading-title {
	font-size: 2.5em;
	color: var(--bs-gray-900);
	font-weight: 700;
	text-align: center;
}

.why-box .why-box_icon {
	width: 103px;
	height: 103px;
	background: radial-gradient(59.22% 59.22% at 50% 50%, rgba(var(--primary-rgb), 0.8) 0%, var(--primary-color) 66.67%, var(--primary-hover) 100%);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.why-box .why-box_title {
	font-size: 1.3em;
	color: var(--bs-gray-800);
}

.why-box .why-box_desc p {
	font-size: 1.075em;
	line-height: 1.6;
}

.why-box .why-box_desc p:last-child {
	margin-bottom: 0;
}

.section-counter {
	transform: translateY(-50%);
	position: relative;
	margin-bottom: -85px;
}

.section-counter .counter-inner {
	background-color: var(--secondary-color);
	border-radius: 6px;
}

.counter-item {
	padding: 50px 0;
}

.counter-item .counter-item_number {
	font-size: 2em;
}

.counter-item .counter-item_title {
	font-size: 1.15em;
}

.category-card {
	position: relative;
	overflow: hidden;
}

.category-card .card-body:before {
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(0deg, rgba(10, 10, 10, 0.8) 0%, rgba(10, 10, 10, 0.05) 35%, rgba(10, 10, 10, 0.1) 60%);
	transition: var(--transition-default);
}

.category-card .card-body:after {
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(10, 10, 01, .2);
	transition: var(--transition-default);
	opacity: 0;
}

.category-card .card-body {
	padding: 0;
}

.category-card .card-body .card-title {
	font-size: 1.375em;
	color: var(--bs-white);
	font-weight: 700;
	padding: 12px 15px;
	position: relative;
	z-index: 1;
	line-height: 1.4;
}

.category-card .card-body .card-button {
	padding: 12px 15px;
	position: relative;
	z-index: 1;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.category-card .card-body .card-button .card-button_text {
	font-size: 1.15em;
	color: var(--bs-white);
	font-weight: 700;
}

.category-card .card-body .card-button .card-button_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: var(--bs-white);
	background-color: rgba(var(--primary-rgb), 1);
	height: 32px;
	width: 32px;
	font-size: 1.5em;
	opacity: 0;
	visibility: hidden;
	transition: var(--transition-default);
}

.category-card:hover .card-image > img {
	transform: scale(1.05);
}

.category-card:hover .card-body:after {
	opacity: 1;
}

.category-card:hover .card-body .card-button .card-button_icon {
	opacity: 1;
	visibility: visible;
}

.construction-card .card-image .ratio {
	--bs-aspect-ratio: 115%;
}

.construction-card .card-body {
	background: var(--primary-color);
	padding: 30px;
	bottom: -50%;
	opacity: 0;
	visibility: hidden;
	pointer-events: visible;
}

.construction-card .card-body:before {
	content: "";
	position: absolute;
	top: -15px;
	left: 30px;
	border-bottom: 15px solid var(--primary-color);
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}

.construction-card .card-body .card-title {
	font-size: 1.375em;
	color: var(--bs-white);
	font-weight: 700;
	position: relative;
	z-index: 1;
	line-height: 1.4;
	margin-bottom: 15px;
}

.construction-card .card-body .card-text {
	color: #fff;
	font-size: 1.075em;
	line-height: 1.7;
}

.construction-card .card-body .card-text b,
.construction-card .card-body .card-text strong {
	color: #f1f1f1;
}

.construction-card .card-body .card-text p {
	margin-bottom: 4px;
}

.construction-card .card-body .card-text p:last-child {
	margin-bottom: 0;
}

.construction-card:hover .card-body {
	bottom: 0;
	visibility: visible;
	opacity: 1;
}

.construction-card:hover .card-image > .ratio > img {
	transform: scale(1.05);
	opacity: .9;
}

.article-card .card-body {
	padding-left: 0;
	padding-right: 0;
}

.article-card .card-body .card-title {
	font-size: 1.375em;
	color: var(--bs-gray-900);
	font-weight: 700;
	position: relative;
	z-index: 1;
	line-height: 1.4;
	margin-bottom: 8px;
	transition: var(--transition-default);
}

.article-card .card-body .card-text {
	color: #6c6c6c;
	font-size: 1.075em;
	line-height: 1.7;
}

.article-card .card-body .card-text p {
	margin-bottom: 4px;
}

.article-card .card-body .card-text p:last-child {
	margin-bottom: 0;
}

.article-card:hover .card-image > .ratio > img {
	transform: scale(1.05);
	opacity: .9;
}

.article-card:hover .card-body .card-title {
	color: var(--primary-color);
}

.section-hero .hero-item {
	position: relative;
}

.section-hero .hero-item .hero-bg {
	padding-top: calc(9 / 21 * 100%);
}

.section-hero .hero-item .hero-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	animation-fill-mode: forwards;
	-webkit-backface-visibility: hidden;
	opacity: 0 !important;
	transform: translate3d(0, 70px, 0);
	transition: transform .8s cubic-bezier(0, .195, 0, 1.465), opacity .5s ease-in;
}

.section-hero .swiper-slide-active .hero-item .hero-content {
	animation-delay: .1s;
	opacity: 1 !important;
	transform: translateZ(0) scale(1);
	will-change: filter, transform, opacity;
}

.section-hero .hero-item .hero-content .hero-content_title {
	font-size: 4.5em;
	color: var(--bs-white);
	font-weight: 700;
	line-height: 1.1;
}

.section-hero .hero-item .hero-content .hero-content_desc {
	margin-top: 20px;
	font-size: 1.3em;
	color: #f1f1f1;
}

.slider-theme .slider-pagination {
	position: absolute;
	z-index: 2;
	bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px
}

.slider-theme .slider-pagination .slider-pagination_item {
	font-size: 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 3px solid var(--bs-white);
	border-radius: 50%;
	opacity: .4;
	cursor: pointer;
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
	background: transparent;
	margin: 0;
}

.slider-theme .slider-pagination .slider-pagination_item.swiper-pagination-bullet-active {
	opacity: 1;
	background: var(--primary-color);
}